<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.withever.humanlibrary.repo.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="Board">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="type" column="TYPE"/>
        <result property="subject" column="SUBJECT"/>
        <result property="contents" column="CONTENTS"/>
        <result property="views" column="VIEWS"/>
        <result property="url" column="URL"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO BOARD (
            USER_ID
            ,TYPE
            ,SUBJECT
            ,CONTENTS
            ,VIEWS
            ,URL
            ,CREATE_TIME
            ,UPDATE_TIME
        )
        VALUES (
        #{userId}
        ,#{type}
        ,#{subject}
        ,#{contents}
        ,#{views}
        ,#{url}
        ,#{createTime}
        ,#{updateTime}
        )
    </insert>


    <select id="selectBoard" parameterType="Long" resultMap="boardResultMap">
        SELECT
         ID
        ,TYPE
        ,CREATE_TIME
        ,UPDATE_TIME
        ,SUBJECT
        ,CONTENTS
        ,VIEWS
        ,USER_ID
        ,URL
        FROM BOARD
        WHERE ID = #{id}
    </select>

    <update id="updateBoard" parameterType="Board">
        UPDATE BOARD
        <set>
        <if test='type != null and type != ""'>
        TYPE = #{type},
        </if>
        <if test='updateTime != null and updateTime != ""'>
        UPDATE_TIME = #{updateTime},
        </if>
        <if test='subject != null and subject != ""'>
        SUBJECT = #{subject},
        </if>
        <if test='contents != null and contents != ""'>
        CONTENTS = #{contents},
        </if>
        <if test='views != null and views != ""'>
        VIEWS = #{views},
        </if>
        <if test='userId != null and userId != ""'>
        USER_ID = #{userId}
        </if>
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE
        FROM BOARD
        WHERE ID = #{id}
    </delete>

<select id="selectBoardBySearch" parameterType="BoardSearch" resultMap="boardResultMap">
        SELECT
         ID
        ,TYPE
        ,CREATE_TIME
        ,UPDATE_TIME
        ,SUBJECT
        ,CONTENTS
        ,VIEWS
        ,USER_ID
        ,URL
        FROM BOARD
        WHERE 1 = 1
            <if test="type != null and type != ''">
                AND TYPE LIKE CONCAT('%', #{type}, '%')
            </if>
            <if test="subject != null and subject != ''">
                AND SUBJECT LIKE CONCAT('%', #{subject}, '%')
            </if>
            <if test="contents != null and contents != ''">
                AND CONTENTS LIKE CONCAT('%', #{contents}, '%')
            </if>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectBoardTotalCountBySearch" parameterType="BoardSearch" resultType="int">
        SELECT
            COUNT(1)
        FROM BOARD
        WHERE 1 = 1
            <if test="type != null and type != ''">
                AND TYPE LIKE CONCAT('%', #{type}, '%')
            </if>
            <if test="subject != null and subject != ''">
                AND SUBJECT LIKE CONCAT('%', #{subject}, '%')
            </if>
            <if test="contents != null and contents != ''">
                AND CONTENTS LIKE CONCAT('%', #{contents}, '%')
            </if>
    </select>

</mapper>