<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.withever.humanlibrary.repo.mapper.HumanbookMapper">
    <resultMap id="humanbookResultMap" type="Humanbook">
    	<id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="title" column="TITLE"/>
        <result property="mainCareer" column="MAIN_CAREER"/>
        <result property="state" column="STATE"/>
        <result property="serviceTime" column="SERVICE_TIME"/>
		<result property="imageUrl" column="IMAGE_URL"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <association property="parentCategory" resultMap="categoryResultMap" />
        <association property="subCategory" resultMap="subCategoryResultMap"/>
    </resultMap>
    
    <resultMap id="categoryResultMap" type="Category">
    	<id property="id" column="PARENT_CATEGORY" />
    	<result property="categoryName" column="CATEGORY_NAME"/>
    	<result property="desc" column="DESC"/>
    </resultMap>
    
    <resultMap id="subCategoryResultMap" type="SubCategory">
    	<id property="id" column="SUB_CATEGORY" />
    	<result property="categoryName" column="CATEGORY_NAME"/>
    	<result property="desc" column="DESC"/>
    	<result property="parentCategoryId" column="PARENT_CATEGORY"/>
    </resultMap>
    
    
    <insert id="insertHumanbook" parameterType="Humanbook" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    	INSERT INTO HUMANBOOK(
    		 ID
    		,USER_ID
			,TITLE
			,MAIN_CAREER
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,STATE
			,IMAGE_URL
			,CREATE_TIME
			,UPDATE_TIME
    	)
    	VALUES(
    		#{id}
    		,#{userId}
    		,#{title}
    		,#{mainCareer}
    		,#{serviceTime}
    		,#{parentCategory.id}
    		,#{subCategory.id}
    		,#{state}
    		,#{imageUrl}
    		,#{createTime}
    		,#{updateTime}
    	)
    </insert>
    
    <select id="selectHumanbook" parameterType="Long" resultMap="humanbookResultMap">
		SELECT
			 ID
			,USER_ID
			,TITLE
			,MAIN_CAREER
			,STATE
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,IMAGE_URL
			,CREATE_TIME
			,UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			ID = #{id}
	</select>
	
	<select id="selectHumanbookByUserId" parameterType="String" resultMap="humanbookResultMap">
		SELECT
			 ID
			,USER_ID
			,TITLE
			,MAIN_CAREER
			,STATE
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,IMAGE_URL
			,CREATE_TIME
			,UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			USER_ID = #{userId}
	</select>
	
	<select id="selectHumanbooksByCategory" parameterType="HumanbookSearch" resultMap="humanbookResultMap">
		SELECT
			 ID
			,USER_ID
			,TITLE
			,MAIN_CAREER
			,STATE
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,CREATE_TIME
			,UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			PARENT_CATEGORY = #{parentCategoryId}
	</select>
	
	<select id="selectHumanbooksBySubCategory" parameterType="HumanbookSearch" resultMap="humanbookResultMap">
		SELECT
			 ID
			,USER_ID
			,TITLE
			,MAIN_CAREER
			,STATE
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,IMAGE_URL
			,CREATE_TIME
			,UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			SUB_CATEGORY = #{subCategoryId}
	</select>
	
    <select id="selectHumanbooksBySearch" parameterType="HumanbookSearch" resultMap="humanbookResultMap">
    	SELECT
    		ID
    		,USER_ID
    		,TITLE
    		,MAIN_CAREER
    		,SERVICE_TIME
    		,PARENT_CATEGORY
    		,SUB_CATEGORY
    		,STATE
			,IMAGE_URL
    		,CREATE_TIME
    		,UPDATE_TIME
    	FROM
    		HUMANBOOK
		WHERE 1 = 1
		<if test="categoryId != null">
			AND PARENT_CATEGORY = #{categoryId}
		</if>
		<if test="subCategoryId != null">
			AND SUB_CATEGORY = #{subCategoryId}
		</if>
		LIMIT
			#{offset}
			,#{limit}
    </select>
    
    <select id="selectHumanbooksTotalCountBySearch" parameterType="HumanbookSearch" resultType="int">
    	SELECT
    		COUNT(*)
   		FROM
   			HUMANBOOK
   		WHERE 1 = 1
   			<if test="categoryId != null">
   				AND PARENT_CATEGORY = #{categoryId}
   			</if>
   			<if test="subCategoryId != null">
   				AND SUB_CATEGORY = #{subCategoryId}
   			</if>
    </select>
    
    <update id="updateHumanbookState" >
    	UPDATE
    		HUMANBOOK
    	SET
    		STATE = #{state}	
    	WHERE
    		ID = #{id}
    </update>
	
	<update id="updateHumanbook" parameterType="Humanbook">
    	UPDATE
    		HUMANBOOK
    	SET
    		USER_ID = #{userId}
			,TITLE = #{title}
			,MAIN_CAREER = #{mainCareer}
			,SERVICE_TIME = #{serviceTime}
			,PARENT_CATEGORY = #{parentCategory.id}
			,SUB_CATEGORY = #{subCategory.id}
			,UPDATE_TIME = #{updateTime}
			,STATE = #{state}
			,IMAGE_URL = #{imageUrl}
		WHERE
			ID = #{id}
    </update>
    
    <update id="deleteHumanbook" parameterType="Long">
    	UPDATE
    		HUMANBOOK
    	SET
    		STATE = 'CANCEL'
    	WHERE
    		ID = #{id}
    </update>
</mapper>