<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.withever.humanlibrary.repo.mapper.HumanbookMapper">
    <resultMap id="humanbookResultMap" type="Humanbook">
    	<id property="id" column="ID"/>
        <result property="title" column="TITLE"/>
        <result property="mainCareer" column="MAIN_CAREER"/>
        <result property="state" column="STATE"/>
        <result property="serviceTime" column="SERVICE_TIME"/>
		<result property="imageUrl" column="IMAGE_URL"/>
		<result property="description" column="DESCRIPTION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
		<association property="user" columnPrefix="U_" resultMap="userResultMap"/>
        <association property="parentCategory" resultMap="categoryResultMap"/>
        <association property="subCategory" resultMap="subCategoryResultMap"/>
    </resultMap>

	<resultMap id="userResultMap" type="User">
		<id property="userId" column="USER_ID"/>
		<result property="loginId" column="LOGIN_ID"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="gender" column="GENDER"/>
		<result property="phoneNo" column="PHONE_NO"/>
		<result property="mPhoneNo" column="M_PHONE_NO"/>
		<result property="birth" column="BIRTH"/>
		<result property="zipCode" column="ZIP_CODE"/>
		<result property="address" column="ADDRESS"/>
		<result property="imageUrl" column="IMAGE_URL"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="updateTime" column="UPDATE_TIME"/>
	</resultMap>
    
    <resultMap id="categoryResultMap" type="Category">
    	<id property="id" column="PARENT_CATEGORY" /> <!-- COLUMN명 확인 -->
    	<result property="categoryName" column="CATEGORY_NAME"/>
    	<result property="desc" column="DESC"/>
    	<result property="parentCategoryId" column="PARENT_CATEGORY"/>
    </resultMap>
    
    <resultMap id="subCategoryResultMap" type="Category">
    	<id property="id" column="SUB_CATEGORY" />
    	<result property="categoryName" column="CATEGORY_NAME"/>
    	<result property="desc" column="DESC"/>
    	<result property="parentCategoryId" column="PARENT_CATEGORY"/>
    </resultMap>
    
    
    <insert id="insertHumanbook" parameterType="Humanbook" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    	INSERT INTO HUMANBOOK(
    		 ID
    		,USER_ID
			,TITLE
			,MAIN_CAREER
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,STATE
			,IMAGE_URL
			,DESCRIPTION
			,CREATE_TIME
			,UPDATE_TIME
    	)
    	VALUES(
    		DEFAULT
    		,#{user.userId}
    		,#{title}
    		,#{mainCareer}
    		,#{serviceTime}
    		,#{parentCategory.id}
    		,#{subCategory.id}
    		,#{state}
    		,#{imageUrl}
    		,#{description}
    		,#{createTime}
    		,#{updateTime}
    	)
    </insert>
    
    <select id="selectHumanbook" parameterType="Long" resultMap="humanbookResultMap">
		SELECT
			 ID
			,USER_ID AS U_USER_ID
			,TITLE
			,MAIN_CAREER
			,STATE
			,SERVICE_TIME
			,PARENT_CATEGORY
			,SUB_CATEGORY
			,IMAGE_URL
			,DESCRIPTION
			,CREATE_TIME
			,UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			ID = #{id}
	</select>
	
    <select id="selectHumanbooksBySearch" parameterType="HumanbookSearch" resultMap="humanbookResultMap">
    	SELECT
    		HB.ID
    		,HB.USER_ID
    		,HB.TITLE
    		,HB.MAIN_CAREER
    		,HB.SERVICE_TIME
    		,HB.PARENT_CATEGORY
    		,HB.SUB_CATEGORY
    		,HB.STATE
			,HB.IMAGE_URL
			,HB.DESCRIPTION
    		,HB.CREATE_TIME
    		,HB.UPDATE_TIME
			,U.USER_ID AS U_USER_ID
			,U.LOGIN_ID AS U_LOGIN_ID
			,U.NAME AS U_NAME
			,U.EMAIL AS U_EMAIL
			,U.GENDER AS U_GENDER
			,U.PHONE_NO AS U_PHONE_NO
			,U.M_PHONE_NO AS U_M_PHONE_NO
			,U.BIRTH AS U_BIRTH
			,U.ZIP_CODE AS U_ZIP_CODE
			,U.ADDRESS AS U_ADDRESS
			,U.IMAGE_URL AS U_IMAGE_URL
			,U.CREATE_TIME AS U_CREATE_TIME
			,U.UPDATE_TIME AS U_UPDATE_TIME
    	FROM
    		HUMANBOOK HB
		INNER JOIN USERS U ON U.USER_ID = HB.USER_ID
		WHERE 1 = 1
		<if test="categoryId != null">
			AND HB.PARENT_CATEGORY = #{categoryId}
		</if>
		<if test="subCategoryId != null">
			AND HB.SUB_CATEGORY = #{subCategoryId}
		</if>
		<if test="userId != null">
			AND HB.USER_ID = #{userId}
		</if>
		LIMIT
			#{offset}
			,#{limit}
    </select>
    
    <select id="selectHumanbooksTotalCountBySearch" parameterType="HumanbookSearch" resultType="int">
    	SELECT
    		COUNT(*)
		FROM
			HUMANBOOK HB
		INNER JOIN USERS U ON U.USER_ID = HB.USER_ID
		WHERE 1 = 1
		<if test="categoryId != null">
			AND HB.PARENT_CATEGORY = #{categoryId}
		</if>
		<if test="subCategoryId != null">
			AND HB.SUB_CATEGORY = #{subCategoryId}
		</if>
		<if test="userId != null">
			AND HB.USER_ID = #{userId}
		</if>
    </select>
    
    <update id="updateHumanbookState" >
    	UPDATE
    		HUMANBOOK
    	SET
    		STATE = #{state}
    		,UPDATE_TIME = UNIX_TIMESTAMP()
    	WHERE
    		ID = #{id}
    </update>
	
	<update id="updateHumanbook" parameterType="Humanbook">
    	UPDATE
    		HUMANBOOK
    	SET
    		USER_ID = #{user.userId}
			,TITLE = #{title}
			,MAIN_CAREER = #{mainCareer}
			,SERVICE_TIME = #{serviceTime}
			,PARENT_CATEGORY = #{parentCategory.id}
			,SUB_CATEGORY = #{subCategory.id}
			,UPDATE_TIME = #{updateTime}
			,STATE = #{state}
			,IMAGE_URL = #{imageUrl}
			,DESCRIPTION = #{description}
		WHERE
			ID = #{id}
    </update>
    
	<delete id="deleteHumanbook" parameterType="Long">
		DELETE
		FROM HUMANBOOK
		WHERE ID = #{id}
	</delete>
</mapper>