<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.withever.humanlibrary.repo.mapper.HumanbookMapper">
	<resultMap id="hbResultMap" type="Humanbook">
        <id property="hbId" column="HB_ID"/>
        <result property="loginId" column="LOGIN_ID"/>
        <result property="hbTitle" column="HB_TITLE"/>
        <result property="hbMainCareer" column="HB_MAIN_CAREER"/>
        <result property="hbStatus" column="HB_STATUS"/>
        <result property="serviceTime" column="SERVICE_TIME"/>
        <result property="upperCategory" column="UPPER_CATEGORY"/>
        <result property="subCategory" column="SUB_CATEGORY"/>
        <result property="hbCreateTime" column="HB_CREATE_TIME"/>
        <result property="hbUpdateTime" column="HB_UPDATE_TIME"/>
    </resultMap>
    
    <insert id="insertHumanbook" parameterType="Humanbook" useGeneratedKeys="true" keyProperty="hbId" keyColumn="HB_ID">
    	INSERT INTO Humanbook(
    		 HB_ID
    		,LOGIN_ID
			,HB_TITLE
			,HB_MAIN_CAREER
			,HB_STATUS
			,SERVICE_TIME
			,UPPER_CATEGORY
			,SUB_CATEGORY
			,HB_CREATE_TIME
			,HB_UPDATE_TIME
    	)
    	VALUES(
    		#{hbId}
    		,#{loginId}
    		,#{hbTitle}
    		,#{hbMainCareer}
    		,#{hbStatus}
    		,#{serviceTime}
    		,#{upperCategory}
    		,#{subCategory}
    		,#{hbCreateTime}
    		,#{hbUpdateTime}
    	)
    </insert>
    
    <update id="deleteHumanbook" parameterType="Long">
    	UPDATE 
    		HUMANBOOK
    	SET
    		HB_STATUS = 'DELETED'
    	WHERE
    		HB_ID = #{hbId}
    </update>
    
    <update id="updateHumanbook" parameterType="Humanbook">
    	UPDATE
    		HUMANBOOK
    	SET 
    		LOGIN_ID = #{loginId}
			,HB_TITLE = #{hbTitle}
			,HB_MAIN_CAREER = #{hbMainCareer}
			,HB_STATUS = #{hbStatus}
			,SERVICE_TIME = #{serviceTime}
			,UPPER_CATEGORY = #{upperCategory}
			,SUB_CATEGORY = #{subCategory}
			,HB_UPDATE_TIME = #{hbUpdateTime}
		WHERE
			HB_ID = #{hbId}
    </update>
    
	<select id="selectHumanbook" parameterType="Long" resultMap="hbResultMap">
		SELECT
			 HB_ID
			,LOGIN_ID
			,HB_TITLE
			,HB_MAIN_CAREER
			,HB_STATUS
			,SERVICE_TIME
			,UPPER_CATEGORY
			,SUB_CATEGORY
			,HB_CREATE_TIME
			,HB_UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			HB_ID = #{hbId}
	</select>
	
	<select id="selectHumanbookByLoginId" parameterType="String" resultMap="hbResultMap">
		SELECT
			 HB_ID
			,LOGIN_ID
			,HB_TITLE
			,HB_MAIN_CAREER
			,HB_STATUS
			,SERVICE_TIME
			,UPPER_CATEGORY
			,SUB_CATEGORY
			,HB_CREATE_TIME
			,HB_UPDATE_TIME
		FROM
			HUMANBOOK
		WHERE
			LOGIN_ID = #{loginId}
	</select>

</mapper>