<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.withever.humanlibrary.repo.mapper.HumanbookServiceDayMapper">
    <resultMap id="serviceDayResultMap" type="ServiceDay">
        <result property="dayId" column="DAY_ID"/>
    </resultMap>
    
    <select id="selectHumanbookServiceDayList" parameterType="Long" resultType="String">
    	SELECT
    		DAY_ID
    	FROM
    		HUMANBOOK_SERVICE_DAY_REL
    	WHERE
    		HUMANBOOK_ID = #{humanbookId}
    </select>
    
    <insert id="insertHumanbookServiceDay">
    	INSERT INTO HUMANBOOK_SERVICE_DAY_REL (
    		HUMANBOOK_ID
    		,DAY_ID
    	) 
    	VALUES(
    		#{humanbookId}
    		,#{dayId}
    	)
    </insert>
    
    <delete id="deleteHumanbookServiceDay">
    	DELETE 
    	FROM
    		HUMANBOOK_SERVICE_DAY_REL
    	WHERE
    		HUMANBOOK_ID = #{humanbookId}
    	AND
    		DAY_ID = #{dayId}
    </delete>
</mapper>