<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.withever.humanlibrary.repo.mapper.ServiceDayMapper">
	<resultMap id="serviceDayResultMap" type="ServiceDay">
		<id property="id" column="ID"/>
		<result property="day" column="DAY"/>
	</resultMap>
	
	<insert id="insertServiceDay" parameterType="ServiceDay" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
		INSERT INTO SERVICE_DAY(
			ID
			,DAY
		)
		VALUES(
			#{id}
			,#{day}
		)
	</insert>
	
	<update id="updateServiceDay" parameterType="ServiceDay">
		UPDATE
			SERVICE_DAY
		SET
			DAY = #{day}
		WHERE
			ID = #{id} 
	</update>
	
	<delete id="deleteServiceDay" parameterType="Long">
		DELETE 
		FROM
			SERVICE_DAY
		WHERE
			ID = #{id}
	</delete>
	
	<select id="countServiceDay" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			SERVICE_DAY
	</select>
	
	<select id="selectServiceDay" parameterType="Long" resultMap="serviceDayResultMap">
		SELECT
			ID
			,DAY
		FROM
			SERVICE_DAY
		WHERE
			ID = #{id}
	</select>

	<select id="selectServiceDayByDay" parameterType="String" resultMap="serviceDayResultMap">
		SELECT
			ID
			,DAY
		FROM
			SERVICE_DAY
		WHERE
			DAY = #{day}
	</select>
</mapper>